@{
    ViewData["Title"] = "Home Page";//Layout = "~/views/Shared/Login_layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <br>
    </br>
    </br>
    </br>
    </br>
<div class="text-center">
    <h1 class="display-4 text-white">Welcome @User.Identity?.Name </h1>
</div>
