@model Customer


<h1>you sure you wanne delete @Model.company</h1>

<form asp-action="DeleTePost">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="allUsers">Back to List</a>
    </form>