@using data_receiver.Models.ViewModels
@model EditRoleViewModel

<h4>customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


    @if (@Model.users.Any())
    {
        <h4>users that are added to this roll</h4>
        foreach(var test in @Model.users)
        {
            <ul class="list-group bg-black" >
                <li class="list-group-item">@test</li>
            </ul>
        }       
    }
    else
    {
        <h1>users</h1>
        <p>no users ad the momment</p>
    }
    <br>
<a asp-controller="role" asp-action="editUserInRole" asp-route-id = "@Model.RoleId" class="btn btn-outline-primary" >add some users</a>
<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>


   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
