@model Customer


<style>
    .form-floating input{
            border-radius: 15px!important;
    background: #1F2843!important;
    color:white;
    border: 1px solid #1A2037!important;
    }
     input:focus{
        color:white!important;
    }
</style>

<form method="post" class="text-white">
    <h2>create account</h2>
    <hr />
    <div class="form-floating">
        <input asp-for="company" class="form-control" autocomplete="company" aria-required="true" />
        <label asp-for="company" class="form-label"></label>
        <span asp-validation-for="company" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="adress" class="form-control" autocomplete="lastname" aria-required="true" />
        <label asp-for="adress" class="form-label"></label>
        <span asp-validation-for="adress" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="city" class="form-control" autocomplete="lastname" aria-required="true" />
        <label asp-for="city" class="form-label"></label>
        <span asp-validation-for="city" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="phonenumber" class="form-control" autocomplete="phonenumber" aria-required="true" />
        <label asp-for="phonenumber" class="form-label"></label>
        <span asp-validation-for="phonenumber" class="text-danger"></span>
    </div>
      
       
        
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">create</button>
    </div>
</form>
            
       