@*@model Customer


<style>
    .text-gradient{
        background: linear-gradient(90deg, #5ED4D4 0%, #DC582C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text!important;
text-fill-color: transparent!important;
font-weight:800;
    }
</style>

<h4 class="text-gradient">edit @Model.</h4>
<hr />
<div class="row text-white d-flex">
    <div class="col-md-4">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phonenumber" class="control-label"></label>
                <input asp-for="phonenumber" class="form-control" />
                <span asp-validation-for="phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estimatedResult" class="control-label"></label>
                <input asp-for="estimatedResult" class="form-control" />
                <span asp-validation-for="estimatedResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>your current action is : @foreach(var current in @ViewBag.currentAction){@current.name}</label>
                <select asp-for=actionId asp-items=@ViewBag.actionlist>

                   <option></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@