@using data_receiver.Models.ViewModels
@model  List<Customer> ;

    

 <style>
        .border-search{
            border-left:1px solid white;
        }
        .placeholder-search::placeholder{
            color:white;
            align-items:center;
        }
        .search-icon{
            color:white;
            background-color:black;
        }
        .user-circle{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}
.no-margin{
    margin:0px!important;
}
.user-info{
    margin-left:8px;
}

.bg-card{
    background: #1A1A1A!important;

}   
.user-circle{
    background-color:#2F3447;
    color:gray;
}
.btn-background{
    background: linear-gradient(90deg, #DE334F 0%, #DC582C 100%);
}

.card-color{
    background: #1A1A1A;
    border: 1px solid white;

}
</style>




<div class="card bg-card text-white" style="min-height: 391px;">
    <div class="p-3">
          <div class="row d-flex mb-4">
            <div class="col-md-12">
                    <h3 class="text-white ">all customers</h3>
            </div>
           @* <div class="col-md-4 d-flex justify-content-end">
                 <a asp-controller="customer" asp-action="create" class="btn btn-primary btn-background"  >create customer</a>
            </div>*@
        </div>
 
        <div class ="row d-flex no-margin  align-items-center " >
           @foreach(var customers in @Model)
            {
                    <div class="col-md-2 p-3 ">
                        <div class="card card-color"   >
                            <i class="fa-solid fa-user-group text-center mt-3 h2 "></i>
                            <div class="card-body text-center">
                            <h6 class="card-title">@customers.Klant</h6>
                               <div class="flex-column d-flex">
                                <a asp-controller= "customer" asp-action="claimCustomer" asp-route-id = "@customers.Debiteurnr" class="text-muted text-decoration-none">claim</a>  
                                @*<a asp-controller= "customer" asp-action="delete" asp-route-id = "@customers.Debiteurnr"  class="text-muted text-decoration-none">delete</a>*@
                                </div>
                            </div>
                        </div>      
                    </div>
            }
        </div>
    </div>
</div>





