@model UserCustomerViewModel


@*<h4>UserCustomer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class ="form-control" asp-items="@Model.users"></select>
            </div>
            <div class="form-group">
                <label asp-for="customerId" class="control-label"></label>
                <select asp-for="customerId" class ="form-control" asp-items="@Model.customers"></select>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@