@model Customer

<h4 class="text-white">customer</h4>
<hr />
<div class="row text-white">
    <div class="col-md-4">
        <form asp-action="EditAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                <label>your current action is : @foreach(var current in @ViewBag.currentAction){@current.name}</label>
                <br>
                <select asp-for=actionId asp-items=@ViewBag.actionlist>

                   <option></option>
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
