@using data_receiver.Models.ViewModels
@model List<UserCustomerViewModel> 


 <style>
        .border-search{
            border-left:1px solid white;
        }
        .placeholder-search::placeholder{
            color:white;
            align-items:center;
        }
        .search-icon{
            color:white;
            background-color:black;
        }
        .user-circle{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}
.no-margin{
    margin:0px!important;
}
.user-info{
    margin-left:8px;
}

.bg-card{
    background: #1A1A1A!important;

}   
.user-circle{
    background-color:#2F3447;
    color:gray;
}
.btn-background{
    background: linear-gradient(90deg, #DE334F 0%, #DC582C 100%);
}

.card-color{
    background: #1A1A1A;
    border: 1px solid white;

}
</style>




<div class="card bg-card text-white" style="min-height: 391px;">
    <div class="p-3">
          <div class="row d-flex mb-4">
            <div class="col-md-8">
                    <h3 class="text-white ">my customers</h3>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                 <a asp-controller="customer" asp-action="create" class="btn btn-primary btn-background"  >go to all customers</a>
            </div>
        </div>
        <div class ="row d-flex no-margin  align-items-center " >
           @foreach(var customers in @Model)
            {
                    <div class="col-md-2 p-3 ">
                        <div class="card card-color"   >
                            <i class="fa-solid fa-user-group text-center mt-3 h2 "></i>
                            <div class="card-body text-center">
                            <h6 class="card-title">@customers.Customer.Klant</h6>
                               <div class="flex-column d-flex">
                                <form asp-action="removecustomer">
                                    <input hidden type="text" name="DebiteurnrId" value="@customers.DebiteurnrId" >
                                    <button class=" btn-danger" type="submit">unclaim</button>
                                </form>
                                <a class=" btn-danger" asp-action ="edit" asp-route-DebiteurnrId=@customers.DebiteurnrId. >edit</a>
                                </div>
                            </div>
                        </div>      
                    </div>
            }
        </div>
    </div>
</div>
