@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http.Extensions;



<head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/data_receiver.styles.css" asp-append />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->

</head>


<body style="margin: 0;background-color: #1e1e2f;">
    <div class="container-fluid">
        <div class="row flex min-vh-100">
          <div class="col-md-12">
              <nav class="p-2">
                  
              </nav>
          </div>
            <aside class="col-md-2 flex-column" >
                
                @if (SignInManager.IsSignedIn(User))
                {
                    
                    <ul class="navbar-nav mr-auto" style = "background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);">
                    <li class="nav-item text-center">

                        <a class="  nav-link" sp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-house text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" sp-area="" asp-controller="usercustomer" asp-action="index">
                            <i class="fa-solid fa-user-group text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <i class="fa-solid fa-id-card text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" asp-area="" asp-controller="customer" asp-action="index">
                         <i class="fa-solid fa-briefcase text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form  class="form-inline text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button  type="submit" class="nav-link btn btn-link text-dark mx-auto button-logout">
                                <i class="fa fa-sign-out text-white" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                </ul>
                }
            </aside>
            <main class="col-md-10">
                
                <div class="container p-4" style="background: #27293d;">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </main>
        </div>
    </div>
</body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
@await RenderSectionAsync("Scripts", required: false)
