@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/data_receiver.styles.css" asp-append />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append />
</head>

<style>
    input{
        border-radius: 15px!important;
        background: #1F2843!important;
        border:1px solid #1A2037!important;
    }
    input::placeholder{
        color:white!important;    
        border:1px solid #1A2037;
    }
    input:focus{
        color:white!important;
    }
   li a{
       font-size:21px;
   }
   li{
       margin-bottom: 19px;
   }

    
</style>

<body style="margin: 0;">
    <div class="container-fluid">
        <div class="row flex min-vh-100">
            <aside class="col-md-3 flex-column" style="background-color: #171D32;">
                <h1 class="text-break text-white w-75" style="margin-bottom: 49px;" >gmu dashboard</h1>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-center">
                        <i class="fa fa-house text-white"></i>
                    </li>
                    <li class="nav-item text-center">
                            <a class="nav-link" sp-area="" asp-controller="Home" asp-action="Index">
                                 <i class="fa-solid fa-user-group text-white"></i>
                            </a>
                    </li>

                    <li class="nav-item text-center">
                         <a class="nav-link" asp-area="" asp-controller="usercustomer" asp-action="index">
                          <i class="fa-solid fa-id-card text-white"></i>
                         </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" asp-area="" asp-controller="customer" asp-action="index">
                         <i class="fa-solid fa-briefcase text-white"></i>
                         </a>
                    </li>                  
                </ul>
                }
                
            </aside>
            <main class="col-md-9 " style="background: #1A2037;">
                <div class="container p-4">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

             
                    
            </main>

        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)*@