<!DOCTYPE html>
<html>
    
<body>
    
    <div class="border">
        <p class="active">test</p>

        
    </div>
     @RenderBody()


<footer style="width:100%; background-color:black;">
    <ul style="display:flex;">
        <li style="padding:10px;">test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>

    </ul>
</footer>
</body>
</html>
