@using data_receiver.Models.ViewModels
@model List<UserRoleViewModel>



  
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h1>all users</h1>
            <div class="card ">
                <div class="card-header d-flex row">
                <h4 class="card-title col-md-6"> all users</h4>
                    <div  class="card-title  col-md-6 text-right">
                        <a asp-action="create"  class="btn btn-default">create user</a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                        <tr>
                         <th>
                            firstname
                        </th>
                        <th>
                            username
                        </th>
                        <th>
                            role
                        </th>
                        <th class="text-center">
                            edit user
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var user in @Model )
                {
                     <tr>
                        <td>
                            @user.User.FirstName
                        </td>
                        <td>
                            @user.User.UserName
                        </td>
                        <td>
                            @user.RoleName
                        </td>
                        <td class="text-center">
                          <a asp-action="Edit" asp-route-id=@user.User.Id class="text-muted">edit user </a>
                        </td>
                      </tr>
                }

                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>

