@using data_receiver.Models.ViewModels
@model List< AdminUserCustomerViewModel>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h1>all users</h1>
            <div class="card ">
                <div class="card-header d-flex row">
                <h4 class="card-title col-md-6"> all users</h4>
                 
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                        <tr>
                         <th>
                            username
                        </th>
                        <th>
                            customer claimed 
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                      

                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>
