@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";  
    Layout = "_TestLayout";
}

   <div class="container mx-auto w-50">
    <form style="padding-top: 80px; class="mb-4 login-class" asp-route-returnUrl="@Model.ReturnUrl" method="post">
          <h3 class="text-white" style=" margin-bottom:20px;">@ViewData["Title"]</h3>
         <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control  login-class" placeholder="email" >
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group pt-4">
            <input asp-for="Input.Password" autocomplete="current-password" class="form-control login-class" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-end">
               <button type="submit" class="btn btn-primary mt-4 linear-button ">lets go</button>
        </div>  
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
