@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
   .login-class{
        border-radius: 15px!important;
        background: #1F2843!important;
        border:1px solid #1A2037!important;
    }
    input::placeholder{
        color:white!important;    
        border:1px solid #1A2037;
    }
    input:focus{
        color:white!important;
    }
</style>
   <div class="container mx-auto w-50">
    <form style="padding-top: 139px; class="mb-4 login-class" method="post">
          <h1 class="text-white" style=" margin-bottom:20px;">@ViewData["Title"]</h1>
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control  login-class" placeholder="email" >
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group pt-4">
            <input asp-for="Input.Password" autocomplete="current-password" class="form-control login-class" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
            <button type="submit" class="btn btn-primary mt-4">Sign in</button>
              <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
                       
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
